@import "bootstrap";

.invalid-feedback {
  display: block;
}

#profile-top {
  width:25px;
  height:25px;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%
}
#profile-text {
  width:20px;
  height:20px;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%
}
